{% extends 'blog/base.html' %}
{% load static %}
{% block title%}
О компании
{% endblock %}

{% block content%}
<h2>О Компании</h2><br>
<p class="home_text">
<b>ООО Севрыбтехмаркет</b> более 30 лет занимается снабжением подшипников, подшипниковых узлов, опорно-поворотных устройств, резино-технических изделий, приводных ремней и другой продукции на рынке северо-западного региона.
Мы осуществляем доставку разнообразных подшипников от отечественных и иностранных производителей в максимально короткие сроки, работаем индивидуально с каждым клиентом.
Мы предлагаем:
<ul class="home_text">
  <li>качественную продукцию;</li>
  <li>разнообразный ассортимент;</li>
  <li>гибкую ценовую политику, включая скидки постоянным клиентам;</li>
  <li>быструю доставку в том числе и в регионы РФ;</li>
  <li>индивидуальный подход и ответственное отношение к заказчикам.</li>
</ul>
</p>
<p class="home_text">Более подробную информацию можно получить по телефону: +7-(8152)-255-065</p>

{% endblock %}
{% block aside_block %}
<h4>Наличие по каталогу</h4>

<img src="{% static 'img/pick2.png' %}" width=100%><br>

<a href="photos">Еще фото</a>
{% endblock %}
