{% extends 'blog/base.html' %}
{% load static %}
{% block title%}
{{title}}
{% endblock %}

{% block content%}
<h3>{{title}}</h3><br>
<p class="home_text"><b>ООО Севрыбтехмаркет</b> более 30 лет занимается снабжением подшипников, подшипниковых узлов, опорно-поворотных устройств, резино-технических изделий, приводных ремней и другой продукции на рынке северо-западного региона.
Мы осуществляем доставку разнообразных подшипников от отечественных и иностранных производителей в максимально короткие сроки, работаем индивидуально с каждым клиентом.
</p>
<a href="about">Читать больше</a><br><br><br>
{%endblock%}

{% block aside_block %}
  <h4 class="mt-2">Наличие на складе</h4>
<p class="thumb"><img  src="{% static 'img/pick.png' %}" width=100% ></p>

  <a href="photos">Еще фото</a>
{% endblock %}
